a:link {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url(./d_Visibility_Tool@4x.png);
    background-repeat: no-repeat;
}

a:hover {
    border: 1px red solid;
    background-size: 200px;
}

a:active {
    border: 1px rgb(119, 67, 67) solid;
}