* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}


/* header, */

header,
main,
footer {
    /* width: 80%; */
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 20%;
    background-color: blanchedalmond;
    margin: 0 auto;
    font-size: 100px;
    overflow: hidden;
}

main {
    height: 60%;
    background-color: aquamarine;
    margin: 1% auto;
}

footer {
    margin: 1% auto;
    height: 20%;
    background-color: blanchedalmond;
}

nav,
article,
aside {
    height: 100%;
    float: left;
}

nav {
    width: 20%;
    background-color: rgb(85, 135, 201);
}

article {
    width: 58%;
    margin: 0 1%;
    background-color: pink;
}

aside {
    width: 20%;
    background-color: rgb(85, 135, 201);
}

article>div {
    height: 30%;
    float: left;
    width: 30%;
}

.one01 {
    background-color: skyblue;
    margin-right: 5%;
}

.one02 {
    background-color: skyblue;
    margin-right: 5%;
}

.one03 {
    background-color: skyblue;
}

footer {
    overflow: hidden;
}

footer>.one {
    border: 1px red solid;
    width: 100px;
    height: 100px;
    float: left;
    background-image: url(/htmlAndcss/img/u=3314821091\,4103682220&fm=26&gp=0.jpg);
}

footer>.two {
    border: 1px red solid;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 120px;
    margin-top: -100;
}

.log {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 60px;
    /* left: 50%;
    margin-left: 600px; */
    border: 1px red solid;
}